.card img {
  width: 100%;
  margin-bottom: 10px;
}
.card {
  margin-bottom: 35px;
}

.author__img {
  width: 50px !important;
  border-radius: 50%;
  height: 50px;
  object-fit: cover;
}
p {
  margin: 0;
}
